@media (max-width: 1000px) {
    .official {
        &__main {
            width: 100%;
        }
        &__aside {
            display: none;
            &__other {
                &_mobile {
                    display: flex;
                }
            }
            &__announcement {
                &_mobile {
                    display: flex;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .official {
        &__aside {
            &__other {
                &__item {
                    &__wrapper {
                        flex-direction: column;
                        gap: 12px;
                    }
                }
            }
        }
    }
}