.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
    min-height: 260px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            span {
                font-family: 'Press Start 2P', cursive;
                font-size: 20px;
                transition: var(--hover-transition);
            }
            svg > path {
                transition: var(--hover-transition);
            }
            &:hover {
                svg > path {
                    fill: var(--primary-blue-hover);
                }
                span {
                    color: var(--primary-blue-hover);
                }
            }
        }
    }
    &__other {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: space-between;
        width: 620px;
        min-height: 140px;
        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
                color: var(--font-main);
                transition: var(--hover-transition);
                &:hover {
                    color: var(--primary-blue-hover);
                }
            }
        }
        &_mobile {
            display: none;
        }
    }
    &__copyright {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: var(--interaction-light-2);
    }
    &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        a {
            path {
                transition: var(--hover-transition);
            }
            &:hover {
                path {
                    fill: var(--primary-blue-default);
                }
            }
        }
        &_mobile {
            display: none;
        }
    }
}