.vacancies {
    &__header {
        display: flex;
        flex-direction: column;
        gap: 8px;
        &__wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__filter-mobile-btn {
            display: none;
            width: 100%;
            height: 52px;
            padding: 0 20px;
            justify-content: space-between;
            align-items: center;
            background: var(--bg-light-4);
            border-radius: var(--border-radius-8);
            cursor: pointer;
            &__text {
                font-weight: 600;
                font-size: 16px;
                line-height: 125%;
            }
            img {
                max-width: 100%;
                height: 20px;
            }
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__feed {
        width: 65.95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        &__item {
            padding: 16px 20px;
            h4 {
                margin-top: 12px;
            }
            &_pin {
                border: var(--border-transparent-60);
            }
            &__owner {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                &__img {
                    width: 24px;
                    height: 24px;
                    border-radius: var(--border-radius-100);
                    overflow: hidden;
                    img {
                        height: 24px;
                    }
                }
                &__name {
                    margin-left: 6px;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 125%;
                    color: var(--text-light-1);
                }
                &__verif {
                    margin-left: 6px;
                    background: url('../icons/general/vacancies/verif.svg') center center/cover no-repeat;
                    width: 16px;
                    height: 16px;
                }
                &__time {
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 125%;
                    color: var(--text-light-3);
                    margin: 0 auto 0 15px;
                }
                &__pin {
                    margin-right: 8px;
                    cursor: pointer;
                    path {
                        transition: var(--hover-transition);
                    }
                    &:hover {
                        path {
                            stroke: var(--primary-blue-hover);
                        }
                    }
                }
                &__link {
                    margin-right: 8px;
                    cursor: pointer;
                    path {
                        transition: var(--hover-transition);
                    }
                    &:hover {
                        path {
                            stroke: var(--primary-blue-hover);
                        }
                    }
                }
                &__more {
                    cursor: pointer;
                    path {
                        transition: var(--hover-transition);
                    }
                    &:hover {
                        path {
                            fill: var(--primary-blue-hover);
                        }
                    }
                }
            }
            &__condition {
                margin-top: 12px;
                display: flex;
                flex-wrap: wrap;
                gap: 16px;
            }
            &__stack {
                margin-top: 8px;
                display: flex;
                flex-wrap: wrap;
                gap: 6px;
            }
            &__action {
                margin-top: 16px;
                display: flex;
                align-items: center;
                gap: 12px;
            }
        }
    }
    &__aside {
        width: 31.91%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        &__company {
            background: var(--bg-light-4);
            border-radius: var(--border-radius-16);
            width: 100%;
            padding: 16px 20px;
            display: flex;
            gap: 12px;
            flex-direction: column;
            &_mobile {
                display: none;
            }
            &__container {
                display: flex;
                justify-content: space-between;
            }
            &__column {
                display: flex;
                flex-direction: column;
                gap: 12px;
                width: 284px;
            }
            &__wrapper {
                display: flex;
                align-items: center;
                gap: 8px;
                cursor: pointer;
            }
            &__title {
                font-weight: 600;
                font-size: 16px;
                line-height: 125%;
            }
            &__img {
                min-width: 32px;
                img {
                    height: 32px;
                    max-width: 100%;
                    border-radius: var(--border-radius-100);
                }
            }
            &__name {
                font-weight: 500;
                font-size: 13px;
                line-height: 125%;
            }
        }
        &__announcement {
            background: var(--bg-light-4);
            border-radius: var(--border-radius-16);
            width: 100%;
            padding: 16px 20px;
            display: flex;
            gap: 12px;
            flex-direction: column;
            &_mobile {
                display: none;
            }
            &__title {
                font-weight: 600;
                font-size: 16px;
                line-height: 125%;
            }
            &__text {
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
            }
        }
    }
}
.vacancy {
    &__main {
        gap: unset;
        border-radius: var(--border-radius-16);
        background: var(--bg-light-4);
        &__wrapper {
            padding: 24px 20px;
        }
        &__header {
            &__name {
                display: flex;
                align-items: center;
            }
        }
        &__action {
            margin-top: 16px;
            display: flex;
            align-items: center;
            gap: 12px;
        }
        &__img {
            img {
                width: 100%;
                max-height: 100%;
            }
        }
        &__footer {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 20px;
            &__btns {
                display: flex;
                align-items: flex-start;
                min-height: 60px;
                gap: 16px;
                border-bottom: var(--border);
                &__interest {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 40px;
                    color: var(--text-light-3);   
                }
            }
            &__actions {
                display: flex;
                gap: 12px;
            }
            &__social {
                display: flex;
                align-items: center;
                gap: 12px;
                a {
                    path, rect {
                        transition: var(--hover-transition);
                    }
                    &:hover {
                        path, rect {
                            fill: var(--primary-blue-default);
                        }
                    }
                }
            }
        }
    }
    &__aside {
        &__company {
            background: var(--bg-light-4);
            border-radius: var(--border-radius-16);
            overflow: hidden;
            &_mobile {
                display: none;
            }
            &__header {
                margin-bottom: 60px;
                height: 146px;
                background: url('../img/main/company.png') center center/contain repeat;
                &__icon {
                    position: absolute;
                    bottom: 0;
                    left: 20px;
                    transform: translateY(50%);
                    width: 120px;
                    height: 120px;
                    border-radius: 22px;
                    border: var(--border-icon);
                    overflow: hidden;
                    background: url('../icons/general/vacancies/company.png') center center/cover no-repeat;
                }
            }
            &__wrapper {
                padding: 10px 20px 16px;
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
            &__text {
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
            }
        }
        &__other {
            display: flex;
            flex-direction: column;
            gap: 12px;
            &_mobile {
                display: none;
            }
            &__item {
                padding: 16px 20px;
                max-width: 304px;
                background: var(--bg-light-4);
                border-radius: var(--border-radius-16);
                display: flex;
                flex-direction: column;
                gap: 7px;
                &__wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 20px;
                    row-gap: 16px;
                }
                &__title {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 125%;
                }
                &__stack {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 4px;
                }
                &__condition {
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 16px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 140%;
                }
            }
        }
    }
}