<aside class="discuss">
    <div class="title title_h5 discuss__toggle discuss__toggle_mobile" id="discussToggleOff"><span>Читатели обсуждают</span>
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.33337 2.66666L10.6667 7.99999L5.33337 13.3333" stroke="#141416" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>						
    </div>
    <div class="discuss__wrapper" id="discuss">
        <div class="title title_h5 discuss__toggle" id="discussToggleOn"><span>Читатели обсуждают</span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.33337 2.66666L10.6667 7.99999L5.33337 13.3333" stroke="#141416" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>						
        </div>
        <div class="discuss__item">
            <div class="discuss__item__header">
                <div class="discuss__item__header__img"><img src="img/main/photo.jpg" alt=""></div>
                <div class="discuss__item__header__name">Виталий Пономарев</div>
                <div class="discuss__item__header__time">11:04</div>
            </div>
            <a href="#" class="discuss__item__text">Похоже у вас ошибка в методе append связанного списка. let newNode = n...</a>
            <a href="#" class="discuss__item__theme">Распространенные алгоритмы и...</a>
        </div>
        <div class="discuss__item">
            <div class="discuss__item__header">
                <div class="discuss__item__header__img"><img src="img/main/photo.jpg" alt=""></div>
                <div class="discuss__item__header__name">Виталий Пономарев</div>
                <div class="discuss__item__header__time">11:04</div>
            </div>
            <a href="#" class="discuss__item__text">Похоже у вас ошибка в методе append связанного списка. let newNode = n...</a>
            <a href="#" class="discuss__item__theme">Распространенные алгоритмы и...</a>
        </div>
        <div class="discuss__item">
            <div class="discuss__item__header">
                <div class="discuss__item__header__img"><img src="img/main/photo.jpg" alt=""></div>
                <div class="discuss__item__header__name">Виталий Пономарев</div>
                <div class="discuss__item__header__time">11:04</div>
            </div>
            <a href="#" class="discuss__item__text">Похоже у вас ошибка в методе append связанного списка. let newNode = n...</a>
            <a href="#" class="discuss__item__theme">Распространенные алгоритмы и...</a>
        </div>
        <div class="discuss__item">
            <div class="discuss__item__header">
                <div class="discuss__item__header__img"><img src="img/main/photo.jpg" alt=""></div>
                <div class="discuss__item__header__name">Виталий Пономарев</div>
                <div class="discuss__item__header__time">11:04</div>
            </div>
            <a href="#" class="discuss__item__text">Похоже у вас ошибка в методе append связанного списка. let newNode = n...</a>
            <a href="#" class="discuss__item__theme">Распространенные алгоритмы и...</a>
        </div>
        <div class="discuss__item">
            <div class="discuss__item__header">
                <div class="discuss__item__header__img"><img src="img/main/photo.jpg" alt=""></div>
                <div class="discuss__item__header__name">Виталий Пономарев</div>
                <div class="discuss__item__header__time">11:04</div>
            </div>
            <a href="#" class="discuss__item__text">Похоже у вас ошибка в методе append связанного списка. let newNode = n...</a>
            <a href="#" class="discuss__item__theme">Распространенные алгоритмы и...</a>
        </div>
        <div class="discuss__item">
            <div class="discuss__item__header">
                <div class="discuss__item__header__img"><img src="img/main/photo.jpg" alt=""></div>
                <div class="discuss__item__header__name">Виталий Пономарев</div>
                <div class="discuss__item__header__time">11:04</div>
            </div>
            <a href="#" class="discuss__item__text">Похоже у вас ошибка в методе append связанного списка. let newNode = n...</a>
            <a href="#" class="discuss__item__theme">Распространенные алгоритмы и...</a>
        </div>
        <div class="discuss__item">
            <div class="discuss__item__header">
                <div class="discuss__item__header__img"><img src="img/main/photo.jpg" alt=""></div>
                <div class="discuss__item__header__name">Виталий Пономарев</div>
                <div class="discuss__item__header__time">11:04</div>
            </div>
            <a href="#" class="discuss__item__text">Похоже у вас ошибка в методе append связанного списка. let newNode = n...</a>
            <a href="#" class="discuss__item__theme">Распространенные алгоритмы и...</a>
        </div>
        <div class="discuss__item">
            <div class="discuss__item__header">
                <div class="discuss__item__header__img"><img src="img/main/photo.jpg" alt=""></div>
                <div class="discuss__item__header__name">Виталий Пономарев</div>
                <div class="discuss__item__header__time">11:04</div>
            </div>
            <a href="#" class="discuss__item__text">Похоже у вас ошибка в методе append связанного списка. let newNode = n...</a>
            <a href="#" class="discuss__item__theme">Распространенные алгоритмы и...</a>
        </div>
        <div class="discuss__item">
            <div class="discuss__item__header">
                <div class="discuss__item__header__img"><img src="img/main/photo.jpg" alt=""></div>
                <div class="discuss__item__header__name">Виталий Пономарев</div>
                <div class="discuss__item__header__time">11:04</div>
            </div>
            <a href="#" class="discuss__item__text">Похоже у вас ошибка в методе append связанного списка. let newNode = n...</a>
            <a href="#" class="discuss__item__theme">Распространенные алгоритмы и...</a>
        </div>
        <div class="discuss__item">
            <div class="discuss__item__header">
                <div class="discuss__item__header__img"><img src="img/main/photo.jpg" alt=""></div>
                <div class="discuss__item__header__name">Виталий Пономарев</div>
                <div class="discuss__item__header__time">11:04</div>
            </div>
            <a href="#" class="discuss__item__text">Похоже у вас ошибка в методе append связанного списка. let newNode = n...</a>
            <a href="#" class="discuss__item__theme">Распространенные алгоритмы и...</a>
        </div>
    </div>
</aside>