.company {
    &_mobile {
        display: none;
    }
    &__feed {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__header {
        &__img {
            background: url('../img/main/company.png') center center/contain repeat;
            &__icon {
                background: url('../icons/general/vacancies/company.png') center center/cover no-repeat;
            }
        }
    }
}

.companies {
    &__list {
        &__item {
            display: flex;
            align-items: flex-start;
            flex-wrap: nowrap;
            gap: 12px;
            &__img {
                width: 40px;
                min-width: 40px;
                height: 40px;
                border-radius: var(--border-radius-100);
                overflow: hidden;
                margin-top: 20px;
                img {
                    max-width: 100%;
                }
            }
            &__wrapper {
                display: flex;
                align-items: flex-start;
                border-bottom: 1px solid var(--interaction-light-1);
                height: 100%;
                padding: 20px 0;
            }
            &:last-child > &__wrapper {
                border-bottom: none;
                padding-bottom: 0;
            }
            &__info {
                display: flex;
                flex-direction: column;
                gap: 4px;
                &__title {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    column-gap: 8px;
                    row-gap: 2px;
                }
                &__text {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 140%;
                }
            }
        }
    }
}