.lang {
    &_mobile {
        display: none;
    }
    &__feed {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__header {
        &__img {
            background: url('../img/main/chart.js.png') center center/contain repeat;
            &__icon {
                background: url('../icons/general/js.png') center center/cover no-repeat;
            }
        }
    }
}