.official {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__main {
        width: 65.95%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
    }
    &__aside {
        width: 31.91%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        &__other {
            display: flex;
            flex-direction: column;
            gap: 12px;
            &__item {
                &:hover {
                    box-shadow: var(--box-shadow-hover);
                }
                &__name {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: var(--text-light-1);
                }
            }
            &_mobile {
                display: none;
            }
            &__item {
                padding: 16px 20px;
                // max-width: 304px;
                background: var(--bg-light-4);
                border-radius: var(--border-radius-16);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 6px;
                &__wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 20px;
                    row-gap: 16px;
                }
            }
        }
    }
    &__text {
        margin: 5px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 20px;
        &__list {
            display: flex;
            flex-direction: column;
            gap: 12px;
            &__wrapper {
                display: flex;
                flex-wrap: wrap;
                row-gap: 16px;
                column-gap: 20px;
            }
            &__item {
                width: calc(50% - 10px);
            }
        }
    }
}