.search-result {
    &__feed {
        display: flex;
        flex-direction: column;
        gap: 16px;
        &__tab {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
    &__empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 20px 50px;
        text-align: center;
        h6 > span {
            color: var(--primary-blue-link-light);
        }
        &__img {
            width: 320px;
        }
    }
    &__filter {
        &__calendar {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            gap: 8px;
        }
    }
}