.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 24px;
    box-shadow: 0px 1px 1px rgba(196, 196, 196, 0.5);
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__icons {
            width: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__auth {
        margin-left: 16px;
    }
    &__logo {
        max-width: 160px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 24px;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            span {
                font-family: 'Press Start 2P', cursive;
                font-size: 20px;
                transition: var(--hover-transition);
            }
            svg > path {
                transition: var(--hover-transition);
            }
            &:hover {
                svg > path {
                    fill: var(--primary-blue-hover);
                }
                span {
                    color: var(--primary-blue-hover);
                }
            }
        }
        &_mobile {
            display: none;
        }
    }
    &__button {
        margin-left: 16px;
    }
    &__open-search {
        display: none;
    }
    &__notification {
    }
}