.switch[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.switch-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 42px;
	height: 24px;
	background: var(--interaction-light-1);
	display: block;
	border-radius: 100px;
	position: relative;
}

.switch-label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 5px;
	width: 18px;
	height: 18px;
	background: #fff;
	border-radius: 18px;
	transition: 0.3s;
}

.switch:checked + .switch-label {
	background: var(--primary-blue-default);
}

.switch:checked + .switch-label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.switch-label:active:after {
	width: 25px;
}
