:root {
    --bg-light-1: #F7F7F7;
    --bg-light-2: #EEEEEF;
    --bg-light-3: #E3E3E3;
    --bg-light-4: #FFFFFF;
    --red-transparent-10: rgba(252, 90, 90, 0.1);
    --green-transparent-10: rgba(0, 162, 91, 0.1);
    --blue-transparent-10: rgba(55, 143, 246, 0.1);
    --blue-transparent-20: rgba(55, 143, 246, 0.2);
    --blue-transparent-60: rgba(55, 143, 246, 0.6);
    --font-main: #141416;
    --font-secondary: #696974;
    --font-light: #FCFCFC;
    --text-light-1: #141416;
    --text-light-2: #4C4C4C;
    --text-light-3: #696974;
    --interaction-light-1: #C9C9CF;
    --interaction-light-2: #9F9FA9;
    --primary-blue-default: #378FF6;
    --primary-blue-hover: #0B71EA;
    --primary-blue-link-light: #0857B3;
    --primary-red: #FC5A5A;
    --primary-green: #00A25B;
    --primary-yellow: #FFAB00;
    --secondary-green: #CCF4E3;
    --secondary-blue: #DFF0FF;

    --border-radius: 8px;
    --border-radius-4: 4px;
    --border-radius-8: 8px;
    --border-radius-12: 12px;
    --border-radius-15: 15px;
    --border-radius-16: 16px;
    --border-radius-22: 22px;
    --border-radius-100: 100%;
    --border: solid 1px var(--interaction-light-2);
    --border-icon: 4px solid var(--bg-light-4);
    --border-light-1: solid 1px var(--interaction-light-1);
    --border-dashed-light-1: dashed 2px var(--interaction-light-1);
    --border-dashed-primary-red: dashed 1px var(--primary-red);
    --border-bg-light-3: solid 1px var(--bg-light-3);
    --border-transparent-60: 1px solid var(--blue-transparent-60);
    --border-blue: solid 1px var(--primary-blue-default);
    --border-blue-hover: solid 1px var(--primary-blue-default);
    --card-border: 1px solid rgba(227, 227, 227, 0.5);
    --hover-transition: 0.2s;
    --box-shadow: 0px 0px 2px 0px rgba(34, 60, 80, 0.2);
    --box-shadow-hover: 2px 2px 8px 1px rgba(34, 60, 80, 0.3);
    --other-article-overlay: linear-gradient(180deg, rgba(20, 20, 22, 0) 50%, rgba(20, 20, 22, 0.51) 100%), rgba(20, 20, 22, 0.5);
    --bg-blend-mode: overlay, multiply;
    --comment-nesting: 12px;
}