.btn {
    background: var(--primary-blue-default);
    border-radius: 8px;
    padding: 0 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--font-light);
    cursor: pointer;
    transition: var(--hover-transition);
    &:hover {
        background: var(--primary-blue-hover);
    }
    &_img {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
    &_img-left {
        padding-left: 48px;
        img {
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translateY(-50%);
        }
    }
    &_img-right {
        padding-right: 44px;
        img {
            position: absolute;
            top: 50%;
            right: 12px;
            transform: translateY(-50%);
        }
    }
    // &_subscr {
    //     width: 32px;
    //     height: 32px;
    //     padding: 0 6px 0 6px !important;
    // }
    &_subscr_active {
        width: 32px;
        height: 32px;
        padding: 0 6px 0 6px !important;
        &_cancel {
            display: none;
        }
        &:hover {
            background: var(--primary-red);
            .btn_subscr_active_cancel {
                display: block;
            }
            .btn_subscr_active_active {
                display: none;
            }
        }
    }
    &_large {
        height: 40px;
        line-height: 40px;
    }
    &_medium {
        height: 36px;
        line-height: 36px;
    }
    &_small {
        height: 32px;
        line-height: 32px;
        font-weight: 400;
        font-size: 14px;
    }
    &_w100 {
        width: 100%;
    }
    &_blue-transparent {
        background: var(--blue-transparent-10);
        color: var(--primary-blue-default);
        &:hover {
            background: var(--blue-transparent-20);
        }
        &_icon {
            path {
                fill: var(--primary-blue-default);
            }
        }
    }
    &_transparent-blue {
        background: none;
        color: var(--primary-blue-default);
        &:hover {
            background: var(--blue-transparent-10);
        }
    }
    &_blue-transparent-2 {
        background: var(--bg-light-1);
        color: var(--font-main);
        &:hover {
            background: var(--blue-transparent-10);
            color: var(--primary-blue-hover);
        }
        &_active {
            background: var(--blue-transparent-10);
            color: var(--primary-blue-hover);
        }
    }
    &_transparent {
        background: none;
        color: var(--font-main);
        &:hover {
            background: var(--bg-light-3);
        }
    }
    &_white {
        background: var(--bg-light-1);
        color: var(--font-main);
        &:hover {
            background: var(--bg-light-2);
        }
    }
    &_light {
        background: var(--bg-light-2);
        color: var(--font-main);
        &:hover {
            background: var(--bg-light-3);
        }
    }
    &_border-light {
        background: var(--bg-light-4);
        color: var(--font-main);
        border: var(--border);
        &:hover {
            background: var(--bg-light-3);
        }
    }
    &_border-blue {
        background: var(--bg-light-4);
        color: var(--primary-blue-default);
        border: var(--border-blue);
        &:hover {
            background: var(--secondary-blue);
        }
    }
    &_border-blue-transparent {
        background: var(--bg-light-1);
        color: var(--primary-blue-default);
        border: var(--border-blue);
        &:hover {
            background: var(--secondary-blue);
        }
    }
    
    
    &_theme-switcher {
        width: 68px;
        font-weight: 500;
        font-size: 13px;
        line-height: 125%;
        color: var(--interaction-light-2);
        background: var(--bg-light-2);
        svg {
            display: block;
            margin: auto;
        }
        &:hover {
            background: var(--bg-light-3);
        }
        &_active {
            background: var(--bg-light-1);
            box-shadow: var(--box-shadow);
            &:hover {
                background: var(--bg-light-1);
            }
        }
    }
}