.callout {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    border-radius: var(--border-radius-8);
    padding: 20px 16px;
    &_blue {
        background-color: var(--blue-transparent-10);
    }
    &__icon {
        font-size: 28px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
            margin: 0;
            font-weight: 400;
            font-size: 20px;
            line-height: 140%;
            a {
                color: var(--primary-blue-default);
            }
        }
    }
}