<section class="discuss-in-feed">
    <h4 class="title title_h4 discuss-in-feed__title">Читатели обсуждают</h4>
    <div class="discuss-in-feed__container grid__feed__discuss-in-feed">
        <div class="discuss__item">
            <div class="discuss__item__header">
                <div class="discuss__item__header__img"><img src="img/main/photo.jpg" alt=""></div>
                <div class="discuss__item__header__name">Виталий Пономарев</div>
                <div class="discuss__item__header__time">11:04</div>
            </div>
            <a href="#" class="discuss__item__text">Похоже у вас ошибка в методе append связанного списка. let newNode = n...</a>
            <a href="#" class="discuss__item__theme">Распространенные алгоритмы и...</a>
        </div>
        <div class="discuss__item">
            <div class="discuss__item__header">
                <div class="discuss__item__header__img"><img src="img/main/photo.jpg" alt=""></div>
                <div class="discuss__item__header__name">Виталий Пономарев</div>
                <div class="discuss__item__header__time">11:04</div>
            </div>
            <a href="#" class="discuss__item__text">Похоже у вас ошибка в методе append связанного списка. let newNode = n...</a>
            <a href="#" class="discuss__item__theme">Распространенные алгоритмы и...</a>
        </div>
        <div class="discuss__item">
            <div class="discuss__item__header">
                <div class="discuss__item__header__img"><img src="img/main/photo.jpg" alt=""></div>
                <div class="discuss__item__header__name">Виталий Пономарев</div>
                <div class="discuss__item__header__time">11:04</div>
            </div>
            <a href="#" class="discuss__item__text">Похоже у вас ошибка в методе append связанного списка. let newNode = n...</a>
            <a href="#" class="discuss__item__theme">Распространенные алгоритмы и...</a>
        </div>
        <div class="discuss__item">
            <div class="discuss__item__header">
                <div class="discuss__item__header__img"><img src="img/main/photo.jpg" alt=""></div>
                <div class="discuss__item__header__name">Виталий Пономарев</div>
                <div class="discuss__item__header__time">11:04</div>
            </div>
            <a href="#" class="discuss__item__text">Похоже у вас ошибка в методе append связанного списка. let newNode = n...</a>
            <a href="#" class="discuss__item__theme">Распространенные алгоритмы и...</a>
        </div>
        <div class="discuss__item">
            <div class="discuss__item__header">
                <div class="discuss__item__header__img"><img src="img/main/photo.jpg" alt=""></div>
                <div class="discuss__item__header__name">Виталий Пономарев</div>
                <div class="discuss__item__header__time">11:04</div>
            </div>
            <a href="#" class="discuss__item__text">Похоже у вас ошибка в методе append связанного списка. let newNode = n...</a>
            <a href="#" class="discuss__item__theme">Распространенные алгоритмы и...</a>
        </div>
        <div class="discuss__item">
            <div class="discuss__item__header">
                <div class="discuss__item__header__img"><img src="img/main/photo.jpg" alt=""></div>
                <div class="discuss__item__header__name">Виталий Пономарев</div>
                <div class="discuss__item__header__time">11:04</div>
            </div>
            <a href="#" class="discuss__item__text">Похоже у вас ошибка в методе append связанного списка. let newNode = n...</a>
            <a href="#" class="discuss__item__theme">Распространенные алгоритмы и...</a>
        </div>
        
    </div>
</section>