<article class="feed__courses">
					<h4 class="title title_h4 feed__courses__title">Наши курсы</h4>
					<div class="feed__courses__wrapper grid__feed__wrapper">
						<div class="feed__courses__item">
							<div class="feed__courses__item__img">
								<img src="icons/general/courses/math.jfif" alt="course">
							</div>
							<div class="feed__courses__item__name">Математика для Data Science</div>
						</div>
						<div class="feed__courses__item">
							<div class="feed__courses__item__img">
								<img src="icons/general/courses/math.jfif" alt="course">
							</div>
							<div class="feed__courses__item__name">Математика для Data Science</div>
						</div>
						<div class="feed__courses__item">
							<div class="feed__courses__item__img">
								<img src="icons/general/courses/math.jfif" alt="course">
							</div>
							<div class="feed__courses__item__name">Математика для Data Science</div>
						</div>
						<div class="feed__courses__item">
							<div class="feed__courses__item__img">
								<img src="icons/general/courses/math.jfif" alt="course">
							</div>
							<div class="feed__courses__item__name">Математика для Data Science</div>
						</div>
						<div class="feed__courses__item">
							<div class="feed__courses__item__img">
								<img src="icons/general/courses/math.jfif" alt="course">
							</div>
							<div class="feed__courses__item__name">Математика для Data Science</div>
						</div>
						<div class="feed__courses__item">
							<div class="feed__courses__item__img">
								<img src="icons/general/courses/math.jfif" alt="course">
							</div>
							<div class="feed__courses__item__name">Математика для Data Science</div>
						</div>
					</div>
				</article>