<section class="feed__vacancies feed__section">
    <div class="feed__vacancies__header feed__section__header">
        <h5 class="title title_h5 feed__section__header__title_desktop">Вакансии</h5>
        <div class="feed__vacancies__btn-wrapper">
            <h5 class="title title_h6 feed__section__header__title_mobile">Вакансии</h5>
            <button class="btn btn_border-blue btn_small">Разместить<span> вакансию</span></button>
            <button class="btn btn_small feed__vacancies__header__btn feed__section__header__btn feed__section__header__btn_desktop"><img src="icons/general/vacancies/tg.svg" alt=""> Подписаться</button>
        </div>
        <button class="btn btn_small btn_blue-transparent feed__vacancies__header__btn feed__section__header__btn feed__section__header__btn_mobile"><img src="icons/general/vacancies/tgBlue.svg" alt="">Подписаться на уведомления</button>
    </div>
    <div class="feed__vacancies__container grid__feed-section">
        <article class="feed__vacancies__item">
            <div class="feed__vacancies__item__owner">
                <div class="feed__vacancies__item__owner__img"><img src="icons/general/vacancies/company.png" alt=""></div>
                <div class="feed__vacancies__item__owner__name">Библиотека разработчика</div>
                <div class="feed__vacancies__item__owner__verif"></div>
            </div>
            <div class="feed__vacancies__item__name">Middle Backend разработчик</div>
            <div class="feed__vacancies__item__stack-wrapper">
                <div class="chip chip_border-blue">Python</div>
                <div class="chip chip_border-blue">Java</div>
            </div>
            <div class="feed__vacancies__item__condition-wrapper">
                <div>от 100 000 ₽</div>
                <div>Фултайм</div>
                <div>Москва</div>
            </div>
        </article>
        <article class="feed__vacancies__item">
            <div class="feed__vacancies__item__owner">
                <div class="feed__vacancies__item__owner__img"><img src="icons/general/vacancies/company.png" alt=""></div>
                <div class="feed__vacancies__item__owner__name">Библиотека разработчика</div>
            </div>
            <div class="feed__vacancies__item__name">Middle Backend разработчик</div>
            <div class="feed__vacancies__item__stack-wrapper">
                <div class="chip chip_border-blue">Python</div>
                <div class="chip chip_border-blue">Java</div>
                <div class="chip chip_border-blue">Python</div>
                <div class="chip chip_border-blue">Java</div>
                <div class="chip chip_border-blue">Python</div>
                <div class="chip chip_border-blue">Java</div>
            </div>
            <div class="feed__vacancies__item__condition-wrapper">
                <div>от 100 000 ₽</div>
                <div>Фултайм</div>
                <div>Москва</div>
            </div>
        </article>
        <article class="feed__vacancies__item">
            <div class="feed__vacancies__item__owner">
                <div class="feed__vacancies__item__owner__img"><img src="icons/general/vacancies/company.png" alt=""></div>
                <div class="feed__vacancies__item__owner__name">Библиотека разработчика</div>
                <div class="feed__vacancies__item__owner__verif"></div>
            </div>
            <div class="feed__vacancies__item__name">Middle Backend разработчик</div>
            <div class="feed__vacancies__item__stack-wrapper">
                <div class="chip chip_border-blue">Python</div>
                <div class="chip chip_border-blue">Java</div>
            </div>
            <div class="feed__vacancies__item__condition-wrapper">
                <div>от 100 000 ₽</div>
                <div>Фултайм</div>
                <div>Фултайм</div>
                <div>Москва</div>
                <div>Москва</div>
            </div>
        </article>
        <article class="feed__vacancies__item">
            <div class="feed__vacancies__item__owner">
                <div class="feed__vacancies__item__owner__img"><img src="icons/general/vacancies/company.png" alt=""></div>
                <div class="feed__vacancies__item__owner__name">Библиотека разработчика</div>
                <div class="feed__vacancies__item__owner__verif"></div>
            </div>
            <div class="feed__vacancies__item__name">Middle Backend разработчик</div>
            <div class="feed__vacancies__item__stack-wrapper">
                <div class="chip chip_border-blue">Python</div>
                <div class="chip chip_border-blue">Java</div>
            </div>
            <div class="feed__vacancies__item__condition-wrapper">
                <div>от 100 000 ₽</div>
                <div>Фултайм</div>
                <div>Москва</div>
            </div>
        </article>
        <article class="feed__vacancies__item">
            <div class="feed__vacancies__item__owner">
                <div class="feed__vacancies__item__owner__img"><img src="icons/general/vacancies/company.png" alt=""></div>
                <div class="feed__vacancies__item__owner__name">Библиотека разработчика</div>
                <div class="feed__vacancies__item__owner__verif"></div>
            </div>
            <div class="feed__vacancies__item__name">Middle Backend разработчик</div>
            <div class="feed__vacancies__item__stack-wrapper">
                <div class="chip chip_border-blue">Python</div>
                <div class="chip chip_border-blue">Java</div>
            </div>
            <div class="feed__vacancies__item__condition-wrapper">
                <div>от 100 000 ₽</div>
                <div>Фултайм</div>
                <div>Москва</div>
            </div>
        </article>
        <article class="feed__vacancies__item">
            <div class="feed__vacancies__item__owner">
                <div class="feed__vacancies__item__owner__img"><img src="icons/general/vacancies/company.png" alt=""></div>
                <div class="feed__vacancies__item__owner__name">Библиотека разработчика</div>
                <div class="feed__vacancies__item__owner__verif"></div>
            </div>
            <div class="feed__vacancies__item__name">Middle Backend разработчик</div>
            <div class="feed__vacancies__item__stack-wrapper">
                <div class="chip chip_border-blue">Python</div>
                <div class="chip chip_border-blue">Java</div>
            </div>
            <div class="feed__vacancies__item__condition-wrapper">
                <div>от 100 000 ₽</div>
                <div>Фултайм</div>
                <div>Москва</div>
            </div>
        </article>
        <div class="feed__vacancies__more">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 6C10.4379 7.5621 8 10 8 10C8 10 5.5621 7.5621 4 6" stroke="#141416" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            Показать ещё</div>
    </div>
</section>