<div class="navigation" id="nav">
    <div class="navigation__close" id="nav-close"></div>
    <div class="navigation__title">Быстрое путешествие по <span>Библиотеке Разработчика</span></div>
    <div class="navigation__links">
        <a href="index.html">Лента</a>
        <a href="vacancies.html">Все вакансии</a>
        <a href="vacancy.html">Вакансия</a>
        <a href="tests.html">Все тесты</a>
        <a href="test.html">Тест</a>
        <a href="events.html">Все события</a>
        <a href="event.html">Событие</a>
        <a href="all_companies.html">Все компании</a>
        <a href="company.html">Компания</a>
        <a href="article.html">Статья</a>
        <a href="lang.html">Язык/Направление</a>
        <a href="profile.html">Профиль пользователя</a>
        <a href="my_profile.html">Мой профиль</a>
        <a href="search_result.html">Результаты поиска</a>
        <a href="contacts.html">Контакты</a>
        <a href="public_offer.html">Публичная оферта</a>
        <a href="privacy_policy.html">Политика приватности</a>
        <a href="eula.html">EULA</a>
        <a href="page-404.html">404</a>
    </div>
</div>
<div class="navigation__overlay" id="nav-overlay"></div>