.feed {
    &__blogs {
        // padding: 32px 0;
        &__container {
            margin-top: 24px;
        }
        &__item {
            &__owner {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 12px 0 6px;
                &__img {
                    width: 24px;
                    height: 24px;
                    border-radius: var(--border-radius-100);
                    overflow: hidden;
                    img {
                        height: 24px;
                    }
                }
                &__name {
                    margin-left: 6px;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 125%;
                    color: var(--font-main);
                }
            }
        }
    }
}