.feed {
    &__courses {
        // padding: 32px 0;
        &__wrapper {
            margin-top: 24px;
        }
        &__item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 300px;
            min-height: 40px;
            cursor: pointer;
            transition: var(--hover-transition);
            &:hover {
                color: var(--primary-blue-hover);
            }
            &__img {
                min-width: 40px;
                width: 40px;
                height: 40px;
                border-radius: var(--border-radius-8);
                overflow: hidden;
                img {
                    height: 40px;
                }
            }
            &__name {
                margin-left: 16px;
                font-weight: 400;
                font-size: 16px;
                line-height: 125%;
            }
        }
    }
}