.feed {
    &__btn-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btn-double {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--bg-light-2);
        border-radius: var(--border-radius-8);
        height: 40px;
        padding: 0 4px;
        width: max-content;
        gap: 4px;
    }
    &__more {
        margin: 0 auto;
        width: 380px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__btn {
            padding: 0 26px;
        }
        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 200px;
        }
    }
    &__feed-settings-btn {
        &_mobile {
            display: none;
        }
    }
}