.join-us {
    margin: 0 0 16px;
    width: 220px;
    min-height: 248px;
    padding: 16px 12px;
    background: var(--bg-light-2);
    border-radius: var(--border-radius);
    &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        color: var(--font-main);
        margin-bottom: 6px;
        span {
            color: var(--primary-blue-default);
        }
    }
    &__descr {
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        color: var(--text-light-2);
        margin-bottom: 12px;
    }
    &__button {
        height: 36px;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        &_sign-in {
            margin-top: 6px;
            position: relative;
            padding-right: 44px;
            &:before {
                content: '';
                position: absolute;
                right: 28px;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                background: url(../icons/general/signin.svg);
            }
        }
    }
    &__hide {
        position: absolute;
        top: 16px;
        right: 12px;
        background: url('../icons/general/close.svg');
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    &_hide {
        display: none;
    }
}