.event {
    &__main {
        padding: 32px 120px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        &__header {
            display: flex;
            flex-direction: column;
            gap: 16px;
            &__wrapper {
                display: flex;
                gap: 12px;
            }
            &__info {
                display: flex;
                flex-wrap: wrap;
                column-gap: 16px;
                font-weight: 400;
                font-size: 18px;
                line-height: 145%;
            }
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 15px;
            div {
                font-weight: 400;
                font-size: 18px;
                line-height: 145%;
                a {
                    color: var(--primary-blue-link-light);
                }
            }
        }
        &__calendar {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: flex-start;
        }
        &__price {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: flex-start;
        }
    }
}